.propertiesList {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 5fr;
  width: 25%;
  height: 30vw;
  font-size: 1.7vw;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 0.5vw;

  .propertyTimer {
    padding-left: 20px;
  }

  .properties {
    height: 100%;
    border-top: 2px solid gray;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4vw;
  }
}