.timerWrap {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 5fr;
  width: 16%;
  height: 600px;
  font-size: 40px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 10px;

  .timer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .propertiesBox {
    height: 100%;
    border-top: 2px solid gray;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
}

