.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .timersWrap {
    display: flex;
    justify-content: center;
    width: 96%;
    gap: 10px;

    .propertiesList{
      display: grid;
      align-items: center;
      grid-template-rows: 1fr 5fr;
      width: 16%;
      height: 600px;
      font-size: 30px;
      font-family: Arial, sans-serif;
      font-weight: bold;
      border: 2px solid gray;
      border-radius: 15px;
      padding: 10px;
    }
  }

  button {
    margin-top: 40px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
}